html,body{
  height: 100%;
}

#tab-bar.demo {
  display: flex;
  bottom: 0;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

/* 首页的消息列表 */
.chat-lists-wrap .left .avatar-container>img{
  width: 50px;
  height: 50px;
}