html,body{
  height: 100%;
}

#tab-bar.demo {
  display: flex;
  bottom: 0;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

/* .icon{
  background: #08C163;
} */

.icon.selected{
  background: #08C163;
}