html,body{
  height: 100%;
}

#tab-bar.demo {
  display: flex;
  bottom: 0;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

/* 首页的消息列表 */
.chat-lists-wrap{
  display: flex;
}

.chat-lists-wrap .left {
  display: flex;
}

.chat-lists-wrap .left .avatar-container>img{
  width: 3.125rem;
  height: 3.125rem;
  border-radius: .375rem;
}

.chat-lists-wrap .right{
  flex: 1;
}